@import url(./style/reset.css);
@import url(./style/hero.css);
@import url(./style/header.css);
@import url(./style/payment_block.css);
@import url(./style/questions.css);
@import url(./style/footer.css);
@import url(./style/modal.css);

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  max-width: 1280px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  box-sizing: border-box;
  background-color: rgb(43, 43, 43);
}